*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.pdf
*.synctex.gz
*.backup
*.backup2
*~
*.glo
*.ist
*.nav
*.snm
*.toc
*.sty
*.ilg
*.nlo
*.nls
*result.tex
*/tmp*
*.bcf
*.fdb_latexmk
*.fls
*.glg
*.gls
*.lof
*.lot
*.run.xml
*.txss
*.kilepr
/**/tmp
*.zip
*.old
/**/old
/**/auto
_region_.tex

.directory
GPUCapon/
HRUIonGPU/
ThesisJP/
sort/

